inventory_management/inventory_management/__pycache__/urls.cpython-312.pyc
inventory_management/inventory/__pycache__/__init__.cpython-312.pyc
inventory_management/inventory/__pycache__/apps.cpython-312.pyc
inventory_management/inventory_management/__pycache__/__init__.cpython-312.pyc
inventory_management/inventory_management/__pycache__/settings.cpython-312.pyc
